:local(.ledger) {
  height: calc(100vh - (49px + 32px));
  width: 100%;
  overflow: hidden;
  iframe {
    position: relative;
    border: none;
    top: -60px;
    height: 100%;
    width: 100%;
  }
}
