$start-event: #34A853;
$end-event: #EA4335;
$sequence-flow: 'transparent';
$user-task:  #1890ff;
$manual-task: #2D3047;
$service-task: #B250B7;

.spacer {
  height: 4em;
  width: 4em;
}

.stepIcon {
  cursor: pointer;
  color: #1890ff;
  background: transparent;
  border: 1px solid #1890ff;

  &:hover {
    color: rgba(#1890ff, 0.75);
    border: 1px solid rgba(#1890ff, 0.75);
  }
}

.steps-content {
  margin-left: 1.5em;
  margin-top: 3em;
}

:local(.StartEvent) {
  composes: stepIcon;
  border: 1px solid $start-event;
  color: $start-event;
  &:hover {
    color: rgba($start-event, 0.75);
    border: 1px solid rgba($start-event, 0.75);
  }
  :global &.active {
    background-color: $start-event;
    border-color: white;
    color: white;

    &:hover {
      background-color: rgba($start-event, 0.75);
    }
  }
}

:local(.EndEvent) {
  composes: stepIcon;
  border: 1px solid $end-event;
  color: $end-event;
  &:hover {
    color: rgba($end-event, 0.75);
    border: 1px solid rgba($end-event, 0.75);
  }
  :global &.active {
    background-color: $end-event;
    border-color: white;
    color: white;
    &:hover {
      background-color: rgba($end-event, 0.75);
    }
  }
}

:local(.UserTask) {
  composes: stepIcon;
  border: 1px solid $user-task;
  color: $user-task;
  &:hover {
    color: rgba($user-task, 0.75);
    border: 1px solid rgba($user-task, 0.75);
  }
  :global &.active {
    background-color: $user-task;
    border-color: white;
    color: white;

    &:hover {
      background-color: rgba($user-task, 0.75);
    }
  }
}

.ManualTask {
  composes: stepIcon;
  border: 1px solid $manual-task;
  color: $manual-task;

  &:hover {
    color: rgba($manual-task, 0.75);
    border: 1px solid rgba($manual-task, 0.75);
  }
}

:local(.ServiceTask) {
  composes: stepIcon;
  border: 1px solid $service-task;
  color: $service-task;
  &:hover {
    color: rgba($service-task, 0.75);
    border: 1px solid rgba($service-task, 0.75);
  }
  :global &.active {
    background-color: $service-task;
    border-color: white;
    color: white;

    &:hover {
      background-color: rgba($service-task, 0.75);
    }
  }
}
