:local(.BpmnEditor) {
  display: flex;
  flex: 1;
  flex-direction: row;
  /**
   * Fix properties tabbing
   */
}
:local(.BpmnEditor) .diagram {
  flex: 1;
  position: relative;
}
:local(.BpmnEditor) .diagram > .bjs-container a.bjs-powered-by {
  display: none;
}
:local(.BpmnEditor) .diagram > .bjs-container a.bjs-powered-by > img {
  display: none;
}
:local(.BpmnEditor) .properties {
  flex: none;
}
:local(.BpmnEditor) .bpp-properties-tabs-links > .bpp-active a {
  position: relative;
}
:local(.BpmnEditor) .bpp-properties-tabs-links > .bpp-active a:before {
  content: '';
  z-index: 5;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: solid 3px #f8f8f8;
  position: absolute;
}
:local(.BpmnEditor) .djs-minimap .toggle:hover {
  color: #ff7400;
}
:local(.BpmnEditor) .djs-minimap:not(.open) .toggle:before {
  content: '\f278';
  font-family: 'app';
  font-size: 20px;
}
:local(.BpmnEditor) .djs-minimap.open .toggle {
  padding: 3px 5px;
  margin-right: 4px;
  line-height: 24px;
  text-align: right;
  opacity: 0.5;
}
:local(.BpmnEditor) .djs-minimap.open .toggle:before {
  content: '\e80a';
  font-family: 'app';
  font-size: 14px;
}
:local(.BpmnEditor) .djs-minimap.open .toggle:hover {
  opacity: 1;
}
:local(.Color) {
  border: solid 1px #444;
  margin: 4px;
  width: 64px;
  height: 16px;
}
