:local(.MultiSheetTab) {

  display: flex;
  flex-direction: column;
  flex: 1;
  border: none;

  .ui.segment, .content, .content > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .ui.segment {
    padding: 0;
  }
}
