#bpmn-diagram .bjs-powered-by {
  display: none;
}

ul, li {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #333758;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: #333;
  width: 100%;
  height: 100%;

  .page-layout {
    height: 100%;

    .main-content {
      height: 100%;
      overflow-x: hidden;
      width: 100%;
    }
  }
}

.workflow-container {
  height: 100%;
  width: 100%;
}

.drawer-content {
  padding-right: 24px;
  height: 100%;
  width: 100%;
}

.document-picker {
  padding: 0 8px;
}

.master-list {
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  display: flex;

  .list-menu {
    .ui.button + .ui.button {
      margin-right: 0.5rem;
    }
  }

  .react-resizable {
    position: relative;
    overflow-x: hidden;
  }
  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
  }

  > .list-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    .ui.column > .ui.labels > .label {
      margin: 0 !important;
    }

    .ui.placeholder {
      margin: 1em;
    }

    .ui.secondary.segment {
        border-left: none;
        border-right: none;
    }

    .ui.list {
      margin: 0;
    }

    .list-item {
      padding: 0.75em 0.5em !important;
    }

  }
}

.ant-drawer-body {
  height: (calc(100vh - 55px));
}

.ant-menu-submenu-title .svg-inline--fa {
  margin-right: 10px;
}

#container-nav {
  background-color: #595D81;

  .ant-layout-header {
    padding: 0 0 0 24px;
    background-color: #595D81;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
  }
}

#global-nav-bar.ant-layout-header {
  padding: 0;
  background-color: #595D81;
  width: 100%;

  .ant-menu.transparent {
    background-color: rgba(46,47,48, 0.9);
    color: rgba(46,47,48, 0.9);
  }

  .settings-button {
    margin-right: 24px;
  }

}

.ant-dropboxdown-menu.ant-menu-vertical {
  border-right: none;
}

.ui.tiny.compact.primary.button {
  background-color: #F95C7B !important;
}

#global-sidebar {
  width: 76px;
  height: 100%;
  background-color: #333758;

  .ant-menu.ant-menu-dark.ant-menu-inline-collapsed {
    background-color: #333758;
    width: 76px;

    > .ant-menu-item {
      color: rgba(255,255,255,0.3);
      margin: 0 !important;
      padding: 12px 12px !important;
      text-align: center;
      height: auto;
      border-left: 4px solid #333758;

      svg {
        vertical-align: -0.15em;
      }

      #account-avatar, #account-avatar > * {
        line-height: 32px !important;
      }
    }
    > .ant-menu-item.ant-menu-item-selected {
      color: #FFFFFF;
      background-color: #595D81;
      padding: 12px 12px !important;
      border-left: 4px solid #F95C7B;
    }
  }
}

.popover-menu {
  .ant-popover-inner-content{
    padding: 0;
  }
}

.ant-menu-dark {
  background-color: rgba(104, 109, 224,0.35);
}

.ant-menu-inline {
  background-color: #595D81;
  border-color: #333758;
}

.ant-menu-dark.ant-menu-inline {
  padding: 0 8px;

  .ant-menu-item-group-title {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 12px;
    color: rgba(252, 252, 252, 0.9);
  }

  .ant-menu-item-group-list {
    box-shadow: none;
    margin-bottom: 16px;
    padding: 0 16px;

    .ant-menu-item {
      padding: 2px 0;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 0.4px;
      margin-top: 4px;
      margin-bottom: 4px;
      height: auto;
      line-height: 32px;
      border-radius: 6px;
      &:hover {
        color: hsl(348, 98%, 75%);
      }
    }

    .ant-menu-item-selected {
      background-color: rgba(51, 55, 88, 0.6);
      font-weight: bold;

      &::after {
        width: 10px;
        height: 10px;
        background: #F95C7B;
        border-radius: 50%;
        position: absolute;
        top: 13px;
        right: 12px;
      }
    }
  }
}

.ant-skeleton {
  .ant-skeleton-content {
    ul.ant-skeleton-paragraph {
      padding: 16px 24px;
      > li {
        border-radius: 24px;
      }
    }
  }
}

.antd-pro-page-header-pageHeader {
  padding: 0;
  margin-bottom: 16px;
}

.form-actions {
  text-align: right;
}

.form-builder-buttons {
  position: absolute;
  top: -12px;
  right: -88px;
}

.spacer {
  display: inline-block;
  width: 0.7em;
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
  &:hover {
    color: hsl(348, 98%, 75%);
  }
}
