:local(.Button) {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  border: solid 1px transparent;
  background: transparent;
  vertical-align: middle;
  font-size: 14px;
  outline: none;
  color: #444;
}
:local(.Button).disabled {
  color: #999;
  cursor: default;
}
:local(.Button):not(.disabled):hover,
:local(.Button).active {
  background: #F8F8F8;
  border: solid 1px #ccc;
}
