:local(.DropdownButton) {
  white-space: nowrap;
}
:local(.DropdownButton) .caret {
  margin-left: 5px;
  margin-top: -3px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 3px dashed;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
:local(.DropdownButton) > .dropdown {
  position: absolute;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  background: white;
  border: solid 1px #CCC;
  z-index: 1000;
}
:local(.DropdownButton) > .dropdown > .item {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0 5px;
  cursor: pointer;
}
:local(.DropdownButton) > .dropdown > .item:hover {
  background: #D6EBFF;
}
