:local(.EmptyTab) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
:local(.EmptyTab) .create-buttons {
  align-self: center;
}
:local(.EmptyTab) .create-buttons button {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 12px;
  color: #444;
}
