:local(.Log) {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: none;
}
:local(.Log) .header {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 0;
}
:local(.Log) .entries {
  border: none;
  font-size: 13px;
  font-family: monospace;
  color: #666;
  white-space: pre-wrap;
  padding: 5px;
  resize: none;
  outline: none;
  width: 100%;
  display: block;
}
:local(.Log) .resizer {
  width: 100%;
  height: 6px;
  user-select: none;
  cursor: ns-resize;
}
:local(.Log):not(.expanded) .resizer {
  visibility: hidden;
}
:local(.Log) .body {
  overflow: auto;
  position: relative;
  display: flex;
  border-top: solid 1px #CCC;
  background: #FCFCFC;
}
:local(.Log) button {
  padding: 4px 10px;
  background: #FEFEFE;
  display: inline-block;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 3px 8px;
  cursor: default;
  user-select: none;
  outline: none;
}
:local(.Log) button:hover {
  background: #F6F6F6;
}
:local(.Log) button + button {
  margin-left: 8px;
}
:local(.Log) .controls {
  position: sticky;
  top: 5px;
  float: right;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
:local(.Log) .controls button {
  opacity: 0.5;
}
:local(.Log) .controls button:hover,
:local(.Log) .controls button:focus {
  opacity: 1;
}
:local(.Log).focussed .controls {
  opacity: 1;
  pointer-events: all;
}
