:local(.WorkflowEditor) {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .main {
    flex-grow: 1;
  }

}
